body{
	color: black;
	background: white;
}

.TopTag{
    display: flex;
    /*position: fixed;*/
    justify-content: center;
    align-items: center ;
    color: white;
    font-size: 1.04rem;
    z-index: 10;
    font-weight: 500;
    width :100%;
    padding: 0.75rem 1rem;
    font-family: Inter, -apple-system,
	BlinkMacSystemFont, "Segoe UI",
	Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    -webkit-box-pack: center;
    

    background-image: linear-gradient(to right, rgb(9, 86, 191), rgb(4, 64, 143), rgb(2, 54, 120), rgb(4, 64, 143), rgb(9, 86, 191));
   
}

.TopTag :hover{
    background-image: none;
    background-color: rgb(0, 42, 92);
    
}

a{
	text-decoration: none;
	color:white;
}

/*##################### Login tag ######################### */

.Login{
    background-color: rgb(18, 29, 51);;
    display: flex;
    justify-content: space-between;
    color:black;
    background-size: cover;
}



.options{
    display: flex;
    margin-left: 5.8rem;
    
}
.options div{
    border: 1px solid transparent;
    margin-right:15px;
    margin-top: 10px;
    margin-bottom:10px; 
    padding-top:14px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 18px;
    border-radius: 1em;
}

.opt{
    font-family: Inter, -apple-system, BlinkMacSystemFont,
     "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    font-size: 18px;    
    font-style: normal;
}
.opt :hover{
    color: rgb(172, 173, 173);
}

.LoginRight{

    display: flex;
    border: 1px solid transparent;
    margin-right: 8em;
    

}

.LoginRight div{
    margin-Left: 10px;
    margin-right: 13px;
}


.LoginButton{

	background-color:transparent;
	border:2px solid white;
	font-size: 20px;
	border-radius: 8px;
	padding-top:12px;
    padding-right:10px;
    padding-left:10px;
    margin-top:15px;
    margin-bottom:10px;
	font-family: Arial, Helvetica, sans-serif;    

}

.SignUpButton{

	color:black;
    background-color :transparent;
	border:1px solid white;
	font-size: 20px;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;    
    border-radius: 8px;
	padding-top:12px;
    padding-right:10px;
    padding-left:10px;
    margin-top:15px;
    margin-bottom:10px;
    font-family: Arial, Helvetica, sans-serif;


}

/*##############################################################################################################*/


                  /*****************Banner*******************************/


.Banner{
    color: rgb(255, 255, 255);
    background-size: cover;
    width: 100%;
    height: 750px;
    border: 0.1px solid transparent;
    margin: auto;
    background-image: url(1.png);
    
}  

.Box-1{
	text-align: left;
	border:1px transparent solid;
	margin-left: 180px;
	margin-right: 200px;
	margin-top: 230px;
	padding-top: 0px;
	padding-right: 0px;  
	padding-left: 100px;
}

.Box-1 h1{
	font-family: sans-serif;
	font-size: 55px;
	font-style: normal;
}

.Box-1 h3{

	font-size: 28px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing:0.08srem;    

}

.button1{

    background-color:rgb(12, 108, 242);
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    font-size: 1.25rem;
    padding: 0.75rem 1.375rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;

}

.button2{

    color: rgb(18, 29, 51);
    background: rgb(255, 255, 255);
    border: 2px solid transparent;
    font-size: 1.125rem;
    font-style:normal;
    font-family:sans-serif,Arial, Helvetica, sans-serif;
    padding: 0.75rem 1.375rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    margin-left:1.5rem;

}

/* #################################################################################################################################*/


                                /* ^^^^^^^^^^^^^^^ wallet ^^^^^^^^^^^^^^^^^^^^^^^*/


.wallet{

    font-size: 1.25rem;
    line-height: 1.75rem;
	color: rgb(97, 61, 224);
	display: flex;
	background-color: rgba(239, 236, 254, 0.5);
	margin-right: 48vw;
	align-items: flex-start;
	justify-content: flex-end;
	border-radius: 40px;	
	margin-left: 170px;
	height: 750px;
	width: 75vw;
	padding-top: 50px;
    padding-bottom: 50px;
	margin-top: 200px;
    padding-left:10px;
    padding-right: 0px;

}


.wallet-right{

    border: 0.25px solid transparent;
    padding-right:0px;
    margin-left:100px;
    margin-right:10px;
    width:1200px;

}


.msg{
    font-size: 35px;
    line-height: 40px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}


.mainPoint{
    font-size:18px;
	padding: 8px 16px 20px;
    padding-right:10px;
    padding-bottom:8px;
    padding-top:6px;
	background-color:rgba(239,236,254,255);
    border: 0.25px rgb(222, 216, 253) solid;
	border-radius: 10px;
	margin-bottom:10px;
    font-family: inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;;

    



}

.walletImg {
    background-image: url("wallet1.png.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    padding-top: -2px;
    border:1px solid transparent;
    padding-right: 75px;
    border-radius: 12px;
    background-color:#EFECFE;

}

.walletImg p{
    margin-left: 50px;
    margin-top: 13px;
    
}


.point{

    border: 0.25px rgb(222, 216, 253) solid;
    border-radius: 10px;
    margin-top:15px;
    font-family:sans-serif;
	font-size:18px ;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 15px;
    font-family: inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;

}


.point :visited{
	color:rgb(97, 61, 224)
}


.button3
{
    border: 1px solid transparent;
    color: rgb(18, 29, 51);
    background: rgb(115, 73, 242);
    margin-top: 30px;
    margin-right:390px;
    padding:12px 20px;
    border-radius: 10px;
    font-size: 1.3rem;
}


.wallet-left{
    background-image: url("box2.png");
    background-repeat:no-repeat;
    background-size: contain;
    width:100%;
    height:775px;
    border: 0.25px solid transparent;
    margin-bottom:10px; 
    margin-top:100px;
    padding-right:1px;
    margin-right:1px;
}

.wallet-left  img{
    
    margin-top: -30px;
    margin-left: 100px;
    width: 350px;
    height: 500px;
}

/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  Exchange %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



.Exchange{

    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(12, 108, 242);
	display: flex;
	background-color:  rgba(236, 245, 254, 0.5);
	margin-right: 48vw;
	align-items: flex-start;
	justify-content: flex-end;
	border-radius: 40px;	
	margin-left: 170px;
	height: 700px;
	width: 75vw;
	padding-top: 50px;
    padding-bottom: 50px;
	margin-top: 100px;
    padding-left:10px;
    padding-right: 0px;

}


.Exchange-left{

    background-image: url("box3.png");
    background-repeat:no-repeat;
    background-size: contain;
    width:750px;
    height:600px;
    border: 0.25px solid transparent;
    margin-bottom:10px; 
    margin-top:100px;
    padding-right:1px;
    margin-right:1px;
}

.Exchange-right{

    border: 0.25px solid transparent;
    
}

.ExchangeImg{
    background-image: url("Exchange.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:50px;
    border: 1px solid transparent;
    margin-right:360px;
    background-color:#ECF5FE ;
    border-radius: 12px;
}

.ExchangeImg p{
    margin-left:60px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    margin-top:10px
}



.ExchangePoint{
    font-size:18px;
	padding: 8px 16px 20px;
    padding-right:10px;
    padding-bottom:8px;
    padding-top:6px;
	background-color:#ECF5FE;
    border: 0.25px rgb(200, 232, 245) solid;
	border-radius: 10px;
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom:10px;
    font-family: inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;
}

.expoint{

    border: 0.25px rgb(200, 232, 245) solid;
    border-radius: 10px;
    margin-top:15px;
    font-family:sans-serif;
	font-size:18px ;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 15px;
    font-family: inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;
}



.expoint :visited{
	color:rgb(12, 108, 242);
} 

.button4{

    border: 1px solid transparent;
    color: white;
    background: rgb(12, 108, 242);
    margin-top: 50px;
    margin-right:360px;
    padding:12px 20px;
    border-radius: 10px;
    font-size: 1.3rem;
}

.Exchange-left img{


    margin-left: 200px;
    margin-top:-10px;
    width: 350px;
    height: 500px;

}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& INSTITUTIONAL &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.Institutional{

    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #121D33;
	display: flex;
	background-color: rgb(240, 242, 247);
	margin-right: 48vw;
	align-items: flex-start;
	justify-content: flex-end;
	border-radius: 40px;	
	margin-left: 170px;
	height: 650px;
	width: 75vw;
	padding-top: 50px;
    padding-bottom: 50px;
	margin-top: 100px;
    padding-left:10px;
    padding-right: 0px;


}


.Instu-right{
    background-image: url("box4.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:110rem;
    height:775px;
    border: 0.25px solid transparent;
    margin-bottom:10px; 
    margin-top:50px;
    padding-right:1px;
    margin-right:1px;
}

.Instu-left
{
    border:1px solid transparent    ;
    margin-top: 50px;
    margin-left: 100px;
}

.InsuMain{
    font-size:40px;
    line-height: 1.2em;
    border: 3px solid transparent;
    margin-top: -50px;
  
}

.InsuPoint{
    font-size: 1em;
    border: 3px solid transparent;
    margin-top: -15px;
}
.InstuImg{
    background-image: url("Instu.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:200px;
    height: 100px;

}

.Button5{
    border: 1px solid transparent;
    color: white;
    background: #677185;
    margin-top: 10px;
    margin-right:335px;
    padding:12px 20px;
    border-radius: 8px;
    font-size: 20px;

}


/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ Explore $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



.Explore{

    font-size: 1.25rem;
    line-height: 1.75rem;
	color: #f28b24;
	display: flex;
	background-color: rgba(255, 242, 229, 0.5);
	margin-right: 48vw;
	align-items: flex-start;
	justify-content: flex-end;
	border-radius: 30px;	
	margin-left: 170px;
	height: 770px;
	width: 75vw;
	padding-top: 50px;
    padding-bottom: 50px;
	margin-top: 200px;
    padding-left:10px;
    padding-right: 0px;


}

.Explore-left{

    border: 0.25px solid transparent;
    padding-right:0px;
    margin-left:100px;
    margin-right:10px;
    width:1200px;

}



.expMainPoint{
    font-size:18px;
	padding: 8px 16px 20px;
    padding-right:10px;
    padding-bottom:8px;
    padding-top:6px;
	background-color :#fff2e5;
    border: 0.25px rgb(222, 216, 253) solid;
	border-radius: 10px;
	margin-bottom:10px;
    font-family: inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;
}

.ExploreImg {
    background-image: url("binoc.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    padding-top: -2px;
    border:1px solid transparent;
    padding-right: 75px;
    border-radius: 12px;
    background-color:#FFF2E5;

}

.ExploreImg p{
    margin-left: 50px;
    margin-top: 13px;
    
}


.explpoint{

    border: 0.25px rgb(222, 216, 253) solid;
    border-radius: 10px;
    margin-top:15px;
    font-family:sans-serif;
	font-size:18px ;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 15px;
    font-family: inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;

}


.explpoint :visited{
	color:#f28b24;
}


.button6
{
    border: 1px solid transparent;
    color: rgb(18, 29, 51);
    background: #f28b24;
    margin-top: 100px;
    margin-right:365px;
    padding:12px 20px;
    border-radius: 10px;
    font-size: 1.3rem;
}


.Explore-right{
    background-image: url("box5.png");
    background-repeat:no-repeat;
    background-size: contain;
    width:100%;
    height:775px;
    border: 0.25px solid transparent;
    margin-bottom:10px; 
    margin-top:20px;
    padding-right:1px;
    margin-right:1px;
}

.Explore-right  img{
    
    margin-top: 95px;
    margin-left: 50px;
    width: 350px;
    height: 500px;
}

/* lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll*/

.End{
	color: white;
	display: flex;
	background-color: rgb(18, 29, 51);
	background-image: url("end.png");
	width: 100%;
	height: 170px;
	justify-content: center;
	padding-top: 50px;
    border: 1px solid transparent;
    margin-top:50px;
}

.End h1{
    border: 1px solid transparent;
    margin-top: 40px;
    font-size: 40px;
}


.button7{
	color:rgb(28, 120, 231);
	background-color : white;
	border: 1px solid white;
	font-size: 20px;
	border-radius: 8px;
	padding:15px 20px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
    margin-left: 10px;
}